body {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", "Arial", "sans-seriff";
}
h3 {
  text-align: center;
  margin-top: 0px;
}
img.expand {
  width: 100%;
}
a {
  color: #00008b;
  text-decoration: underline;
}
p#spinner {
  text-align: center;
}
#helpGlossaryLinks {
  float: none;
  overflow: auto;
}
#helpGlossaryLinks a {
  float: right;
  padding: 0.5em;
}
.accordion [data-toggle='collapse'] {
  cursor: pointer;
}
.emptyblock {
  display: block;
}
.bold {
  font-weight: bold;
}
.define {
  font-weight: bold;
  text-decoration: underline;
  cursor: help;
  color: inherit;
}
.graph {
  text-align: center;
}
.graph img {
  display: block;
  margin: 0px auto;
}
.highlight {
  background-color: #ff0;
}
.panel-heading * {
  color: initial;
}
.panel-body .panel:last-child {
  margin-bottom: 0px;
}
.red {
  background-color: #bb0e3d;
}
.table_container.bordered .table_row:first-child .table_data {
  border-top-width: 1px;
}
.table_container.bordered .table_row:not(:first-child) .table_data:first-child {
  text-align: left;
}
.table_container.bordered .table_data {
  border: solid #ddd;
  border-width: 0px 1px 1px 0px;
}
.table_container.bordered .table_data:first-child {
  border-left-width: 1px;
}
.table_data {
  display: block;
  float: left;
  height: 2.2em;
  line-height: 2em;
  text-align: center;
  padding: 0.1em 0.15em;
}
.table_data:last-child {
  float: none;
  overflow: auto;
  width: auto;
}
.table_data.text-left {
  text-align: left;
}
.table_data.text-right {
  text-align: right;
}
.table_padding {
  padding: 0.25em 0.3em;
  line-height: 2em;
}
.table_data button,
.table_padding button,
.table_data input,
.table_padding input,
.table_data select,
.table_padding select {
  width: 100%;
  height: 2em;
  padding: 0px;
  line-height: 1em;
}
.table_data label,
.table_padding label {
  margin-bottom: 0px;
}
.table_row {
  padding: 0.15em;
  overflow: auto;
}
ul.nav.nav-tabs > li.active a {
  font-weight: bold;
}
ul.nav.nav-tabs > li:not(.active) a {
  color: #000;
}
ul.nav.nav-tabs > li:not(.active):hover a {
  text-decoration: underline;
}
@media (max-width: 379px) {
  .ui-tabs .ui-tabs-panel {
    padding: 1em 0px;
  }
  #meanstorisk .tabbed_output_panel .tab-pane {
    padding: 1em 0px;
  }
}
header,
#main,
#footer {
  min-width: 320px;
  max-width: 1200px;
  margin: 0px auto;
}
header .division-logo {
  min-width: 320px;
}
header #dceg-logo,
header #branch-logo {
  min-width: 320px;
}
#main {
  font-size: 13px;
}
#mainTabsContent {
  line-height: 1.42857143;
  border: solid #ddd;
  border-width: 0px 1px 1px;
  border-radius: 4px;
  padding: 20px 0px;
}
@media (min-width: 480px) {
  #mainTabsContent {
    padding: 20px;
  }
}
#meanstorisk .maliable {
  margin: 0px auto;
  font-size: 0px;
}
#meanstorisk .maliable > * {
  font-size: 13px;
}
#meanstorisk .maliable .graph {
  max-width: 600px;
  margin: 0px auto;
}
#meanstorisk .maliable .input,
#meanstorisk .maliable .output {
  width: 100%;
  max-width: 360px;
}
@media (max-width: 761px) {
  #meanstorisk .maliable {
    max-width: 360px;
  }
}
@media (min-width: 762px) and (max-width: 1079px) {
  #meanstorisk .maliable {
    max-width: 720px;
  }
  #meanstorisk .maliable .input,
  #meanstorisk .maliable .output {
    display: inline-block;
    vertical-align: top;
  }
  #meanstorisk .maliable .input {
    padding-right: 15px;
  }
  #meanstorisk .maliable .output {
    padding-left: 15px;
  }
  #meanstorisk .maliable .graph {
    clear: both;
  }
}
@media (min-width: 1080px) {
  #meanstorisk .maliable .input,
  #meanstorisk .maliable .output {
    float: left;
    padding: 15px;
  }
  #meanstorisk .maliable .graph {
    overflow: auto;
  }
}
#meanstorisk #cases_control .table_row > div {
  width: 30%;
}
#meanstorisk #cases_control .table_row > div:first-child {
  width: 40%;
}
#meanstorisk .accordion .panel-footer input {
  width: 100%;
}
#meanstorisk .input > .table_padding button {
  width: auto;
}
#meanstorisk #mtr-results .emptyblock {
  display: table-cell;
}
#meanstorisk #mtr-results .table_row {
  border: 1px solid #ddd;
  border-radius: 4px;
}
#meanstorisk #mtr-results .table_row:nth-child(5) .table_data,
#meanstorisk #mtr-results .table_row:nth-child(7) .table_data,
#meanstorisk #mtr-results .table_row:nth-child(8) .table_data {
  line-height: 4em;
  height: 4.2em;
}
#meanstorisk #mtr-results .table_row:nth-child(5) .table_data:first-child,
#meanstorisk #mtr-results .table_row:nth-child(7) .table_data:first-child,
#meanstorisk #mtr-results .table_row:nth-child(8) .table_data:first-child {
  line-height: 2em;
}
#meanstorisk #mtr-results .table_data {
  width: 25%;
  display: table-cell;
}
#meanstorisk #mtr-results .table_data:first-child {
  width: 33.333333333333336%;
}
#meanstorisk #mtr-results .table_data:nth-child(2) {
  width: 16.666666666666668%;
}
#meanstorisk .tabbed_output_panel #tabs .tab-content > .tab-pane {
  overflow: auto;
  padding: 0px;
}
#meanstorisk .tabbed_output_panel table {
  width: 99%;
  margin: 0px auto;
  border: 2px #000 solid;
  border-collapse: collapse;
}
#meanstorisk .tabbed_output_panel table caption {
  border-bottom: 2px solid #bbb;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  background: #f5f5f5;
}
#meanstorisk .tabbed_output_panel table tr:nth-child(2) {
  border-bottom: 1px #000 solid;
}
#meanstorisk .tabbed_output_panel table tr.PPV_stripe {
  background-color: #b080ff;
}
#meanstorisk .tabbed_output_panel table tr.cNPV_stripe {
  background-color: #8080ff;
}
#meanstorisk .tabbed_output_panel table tr.PPVcNPV_stripe {
  background-color: #ffaa80;
}
#meanstorisk .tabbed_output_panel table tr.ProgramBased_stripe {
  background-color: #ffb0d0;
}
#meanstorisk .tabbed_output_panel table tr.PPVBased_stripe {
  background-color: #a0a0a0;
}
#meanstorisk .tabbed_output_panel table tr.SensitivityBased_stripe {
  background-color: #808080;
}
#meanstorisk .tabbed_output_panel table tr.DominatedByRareDisease_stripe {
  background-color: #f0f0f0;
}
#meanstorisk .tabbed_output_panel table th {
  padding: 2px;
  border-bottom: 1px #bbb solid;
  background-color: #f5f5f5;
}
#meanstorisk .tabbed_output_panel table td {
  padding: 0px 1em;
}
#bc table {
  width: 100%;
}
@media (max-width: 479px) {
  #bc table#inputdata .remove_row_button > .text {
    display: none;
  }
  #bc table#inputdata .remove_row_button > .glyphicon {
    display: block;
  }
}
@media (min-width: 480px) {
  #bc table#inputdata .remove_row_button > .text {
    display: block;
  }
  #bc table#inputdata .remove_row_button > .glyphicon {
    display: none;
  }
}
#bc table#inputdata tr.table_row {
  counter-increment: bcDataRows;
}
@media (max-width: 479px) {
  #bc table#inputdata tr.table_row:first-child {
    font-size: 11px;
  }
}
#bc table#inputdata tr.table_row td.table_data:first-child:after {
  content: counter(bcDataRows);
  font-weight: bold;
}
#bc table#inputdata tr.table_row:last-child {
  counter-increment: bcDataRows -1;
}
#bc table#inputdata tr.table_row:last-child button {
  width: 100%;
}
#bc table#inputdata tr td > button#new_row_button {
  width: 100%;
}
#bc table#inputdata td.table_data,
#bc table#inputdata th {
  height: initial;
  width: 25%;
}
#bc table#inputdata td.table_data:first-child,
#bc table#inputdata th:first-child {
  width: 8.333333333333334%;
}
#bc table#inputdata td.table_data:last-child,
#bc table#inputdata th:last-child {
  width: auto;
}
#bc table#inputdata td.table_data .input_field:hover,
#bc table#inputdata th .input_field:hover {
  cursor: text;
}
#bc table#inputdata td.table_data img,
#bc table#inputdata th img {
  position: relative;
  top: -0.15em;
  height: 2em;
  padding: 0px 0px 0.15em 0.15em;
}
#bc .data_group {
  width: 100%;
  max-width: 580px;
  margin: 0px auto;
}
@media (min-width: 1000px) {
  #bc .data_group {
    float: left;
    max-width: 595px;
    padding-right: 15px;
  }
}
#bc .graph {
  overflow: auto;
  max-width: 580px;
  margin: 0px auto;
}
@media (min-width: 1000px) {
  #bc .graph {
    max-width: 620px;
  }
}
#bc table.output {
  width: 100%;
}
#bc table.output tr th.top-header {
  background-color: #444;
  color: #fff;
  text-align: center;
}
#bc table.output tr > tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}
#bc table.output tr > tr td {
  display: table-cell;
  text-align: center;
}
#bc .reference_row {
  background-color: #ff0;
}
#bc .top_group > img {
  display: block;
  margin: 0px auto;
  width: 480px;
  max-width: 100%;
}
@media (min-width: 780px) {
  #bc .top_group > img {
    float: left;
    width: 350px;
  }
}
#bc .top_group > div {
  overflow: auto;
}
#bc .top_group > div ul {
  padding-left: 1.5em;
}
#riskStratAdvanced .input {
  overflow: auto;
  margin: 0px auto;
  width: 100%;
  max-width: 600px;
}
#riskStratAdvanced .input .table_data:first-child {
  min-width: 13em;
}
#riskStratAdvanced .input .table_data:nth-child(2) {
  min-width: 7em;
}
#riskStratAdvanced .input .table_data:nth-child(3) {
  float: right;
}
#riskStratAdvanced .input .table_data:last-child {
  min-width: 7em;
}
#riskStratAdvanced .output .graph {
  max-width: 400px;
  margin: 0px auto;
}
@media (min-width: 800px) {
  #riskStratAdvanced .output .graph {
    float: right;
    width: 50%;
    padding-left: 15px;
  }
  #riskStratAdvanced .output .table_container {
    padding-right: 15px;
  }
}
#riskStratAdvanced .output .graph,
#riskStratAdvanced .output .table_container {
  margin-bottom: 1em;
}
#riskStratAdvanced .output .table_container {
  overflow: auto;
}
#riskStratAdvanced .output .table_container .table-header {
  background-color: #f8fafa;
  font-weight: bold;
  text-align: center;
}
#riskStratAdvanced .output .table_container th.header {
  text-align: center;
}
/* #riskStratAdvanced .output .table_container th,
#riskStratAdvanced .output .table_container tr > td.header {
  background-color: #aaa;
  color: #444;
}
#riskStratAdvanced .output .table_container th:first-child,
#riskStratAdvanced .output .table_container tr > td.header:first-child {
  vertical-align: top;
}
#riskStratAdvanced .output .table_container th,
#riskStratAdvanced .output .table_container td {
  padding: 0.1em 0.15em;
}
#riskStratAdvanced .output .table_container tbody tr:first-child th:first-child {
  height: 9em;
} */
#riskStratAdvanced .output .vertical-text {
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  white-space: nowrap;
  width: 1em;
}
#riskStratAdvanced #indDef:not(.show),
#riskStratAdvanced #contourDef:not(.show),
#riskStratAdvanced #fvDef:not(.show) {
  display: none;
}
#meanRiskStratification #markers table {
  width: 100%;
}
#meanRiskStratification .input {
  overflow: auto;
  width: 100%;
  max-width: 480px;
  margin: 0px auto 1em;
}
@media (min-width: 950px) {
  #meanRiskStratification .input {
    float: left;
    padding-right: 15px;
  }
}
#meanRiskStratification .input #control-group a:last-child::before {
  content: '\a0';
}
@media (min-width: 480px) {
  #meanRiskStratification .input #control-group .table_row:first-child {
    float: left;
    width: 70%;
  }
}
@media (max-width: 568px) {
  #meanRiskStratification .input #control-group .table_row:first-child {
    font-size: 11px;
  }
}
#meanRiskStratification .input #control-group .table_row:first-child .table_data {
  width: 25%;
}
#meanRiskStratification .input #control-group .table_row:first-child .table_data:nth-last-child(2) {
  float: right;
}
#meanRiskStratification .input #control-group .table_row:first-child .table_data:last-child {
  width: auto;
}
#meanRiskStratification .input #control-group .table_row:last-child {
  clear: left;
}
#meanRiskStratification .input #control-group .table_row:last-child .table_data {
  overflow: visible;
  height: auto;
  min-height: 2.2em;
}
#meanRiskStratification .input .option-1 .table_row:first-child,
#meanRiskStratification .input .option-2 .table_row:first-child {
  background-color: #f5f5f5;
}
#meanRiskStratification .input .option-1 .table_data {
  float: right;
  min-width: 7em;
  width: 33.333333333333336%;
}
#meanRiskStratification .input .option-1 .table_data:last-child {
  float: none;
  background-color: #f5f5f5;
  width: auto;
  text-align: left;
}
@media (max-width: 568px) {
  #meanRiskStratification .input .option-1 {
    font-size: 11px;
  }
}
@media (max-width: 480px) {
  #meanRiskStratification .input .option-1 .table_data {
    height: 4.2em;
  }
  #meanRiskStratification .input .option-1 .table_row:not(:first-child) .table_data:not(:last-child) {
    line-height: 4em;
  }
}
#meanRiskStratification .input .option-2 .table_data:first-child {
  min-width: 14em;
}
#meanRiskStratification .input .option-2 .table_data span {
  float: right;
}
#meanRiskStratification .input .option-2 .table_data div {
  overflow: auto;
}
#meanRiskStratification .output {
  overflow: auto;
}
@media (min-width: 950px) {
  #meanRiskStratification .output {
    padding-left: 15px;
  }
}
#meanRiskStratification .output #paramTable {
  margin-bottom: 1em;
}
#meanRiskStratification .output table {
  width: 100%;
}
#meanRiskStratification .output td,
#meanRiskStratification .output th {
  border: solid #ddd;
  border-width: 0px 1px 1px 0px;
  padding: 0.1em 0.15em;
}
#meanRiskStratification .output td:first-child,
#meanRiskStratification .output th:first-child {
  border-left-width: 1px;
}
#meanRiskStratification .output th {
  background-color: #f5f5f5;
  border-top-width: 1px;
  font-weight: bold;
}
#help #tools-help + section article > * {
  padding-left: 1em;
}
#help #tools-help + section article > *:first-child {
  padding-left: 0px;
}
#help h5,
#help h6 {
  font-weight: bold;
}
#help .glossary-title {
  background-color: #154976;
  color: #fff;
  padding: 5px;
}
#help .glossary-title a {
  text-decoration: underline;
}
#help .glossary-title a:hover {
  text-decoration: none;
}
#help .glossary-title * {
  color: inherit;
}
